<div class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text">
                <h3>LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-md-4 text">
                <h3>AROUND THE WEB</h3>
               <div class="d-flex text1">
                <div class="padng"><i class="fa-brands fa-facebook"></i></div>
                <div class="padng"><i class="fa-brands fa-twitter"></i></div>
                <div class="padng"><i class="fa-brands fa-linkedin"></i></div>
                <div class="padng"><i class="fa-solid fa-globe"></i></div>
               </div>
            </div>
            <div class="col-md-4 text">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>

        </div>
    </div>

</div>
    <div class="demo2">
        <p>Copyright © Your Website 2023</p>
    </div>