<div class="denger">
<div class="ching">
    <h1>ABOUT COMPONENT</h1>
</div>
<div class="d-flex prod1">
    <div class="prod"></div>

    <i class="fa-solid fa-star"></i>

    <div class="prod"></div>

</div>
<div class="container">
<div class="row">
    <div class="col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
    <div class="col-md-6">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>

</div>
</div>
</div>