<div [style.display]="isSale==true?'block':'none'" (click)="user()" class="textimg">
    <img src="assets/poert1.png" alt="">
</div>
<div [style.display]="isSale1==true?'block':'none'" (click)="user1()" class="textimg">
    <img src="assets/port2.png" alt="">
</div>
<div [style.display]="isSale2==true?'block':'none'" (click)="user2()" class="textimg">
    <img src="assets/port3.png" alt="">
</div>

<div class="ching">
<h1>PORTFOLIO COMPONENT</h1>
</div>
<div class="d-flex prod1">
    <div class="prod"></div>

    <i class="fa-solid fa-star"></i>

    <div class="prod"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4 child">
            <img  src="assets/poert1.png" class="w-100 rounded-4" alt="this is a img">
            <div (click)="user()" class="acesen rounded-4 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
        <div class="col-md-4 mb-4 child">
            <img src="assets/port2.png" class="w-100 rounded-4" alt="this is a img">
            <div (click)="user1()" class="acesen rounded-4 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
        <div class="col-md-4 mb-4 child">
            <img src="assets/port3.png" class="w-100 rounded-4" alt="this is a img">
            <div (click)="user2()" class="acesen rounded-4 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
        <div class="col-md-4 mb-4 child">
            <img src="assets/poert1.png" class="w-100 rounded-4" alt="this is a img">
            <div (click)="user()" class="acesen rounded-4 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
        <div class="col-md-4 mb-4 child">
            <img src="assets/port2.png" class="w-100 rounded-4" alt="this is a img">
            <div (click)="user1()" class="acesen rounded-4 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
        <div class="col-md-4 mb-4 child">
            <img src="assets/port3.png" class="w-100 rounded-4" alt="this is a img">
            <div (click)="user2()" class="acesen rounded-4 d-flex justify-content-center align-items-center">
                <i class="text-white fa-solid fa-plus fa-6x"></i>
            </div>
        </div>
    </div>
</div>